<div class="container">
    <div class="card card-container">
        <img src="assets/imgs/avatar.png" id="profile-img" class="profile-img-card">
        <form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                {{errorMessage}}
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email"
                        id="email"
                        class="form-control"
                        name="email"
                        placeholder="Email Id" 
                        [(ngModel)]="user.email" 
                        #email="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && !email.valid}" 
                        required />
                <div *ngIf="f.submitted && !email.valid" class="invalid-input">
                    <div *ngIf="email.error?.required"></div>
                    A valid Email Id is required.
                    </div>  
            </div>             
               
            <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"
                            id="password"
                            class="form-control"
                            name="password"
                            placeholder="Password" 
                            [(ngModel)]="user.password" 
                            #password="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && !password.valid}" 
                            required />
                    <div *ngIf="f.submitted && !password.valid" class="invalid-input">
                        <div *ngIf="password.error?.required"></div>
                        A valid Password is required.
                        </div>  
                </div> 

            <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin form-submit-button">Sign
                In</button>
        </form>
        <a [routerLink]="['/register']" class="btn btn-link">Create New Account!</a>
    </div>
</div>